.main-container {
  text-align: center;
  white-space: pre-wrap;
}

.main-container h1 {
  font-weight: bolder;
  font-size: 2.5rem;
}

.main-container h3,
.main-container h4 {
  font-style: italic;
}

img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}

.human {
  width: 50%;
  border-radius: 12px;
  margin-bottom: 30px;
}
